.search-block {
    max-width: 320px;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .search-block__form{
        // height: 100px;
        background-color: $colorGreenMain;
        padding: 20px 5px;
        flex-shrink: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            width: 300px;
            height: 40px;
            background-color: $colorGray;
            color: $colorGrayDark;
            border: 2px solid $colorGray;
            border-radius: 15px;
            padding-left: 5px;
        }

        button {
            width: 150px;
            height: 40px;
            margin-top: 5px;
            background-color: Transparent;
            border: 2px solid $colorGray;
            border-radius: 15px;
            font-size: 1.5rem;
            color: $colorGray;
            
            cursor: pointer;
        }
    }

    .search-block__result {
        background-color: gray;
        flex-grow: 1;
        overflow: auto;
        min-height: 2em;
        
         // book height: 125px

    }

    .search-block__nav {
        height: 60px;
        background-color: $colorGreenMain;
        flex-shrink: 0;
        
        display: flex;
        flex-direction: row;

        button {
            width: 50px;
            background-color: transparent;
            border: 2px solid $colorGray;
            border-radius: 15px;
            font-size: 1.5rem;
            color: $colorWhite;
            cursor: pointer;

            background-image: url(/src/img/arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            &.search-block__nav-prev {
                transform: rotate(180deg);
            }
        }

        .search-block__nav-info {
            flex-grow: 1;
        }
    }
}