$colorGreenMain: #58AF98;
$colorGreenSecondary: #0B734F;
$colorBlueMarked: #638CC7;
$colorWhite: #ffffff;
$colorBlack: #2A2A35;
$colorGray: #F0F4F3;
$colorGrayDark: #8C9896;

$breakpoint-phone: 320px;